.project
/backstage/config/db.php
/reception/config/db.php
/backstage/runtime/
/reception/runtime/
/backstage/web/assets/
/reception/web/assets/
.idea/workspace.xml
.idea/vcs.xml
.idea/en.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
