.header {
    width: 10rem;
    height: 1.5rem;
    padding: 0 0.32rem;
    border-bottom: 0.01rem solid #E4E6F0;
    background-color: #fff;
    box-sizing: border-box;
}

.header .pic {
    height: 1.5rem;
    line-height: 1.5rem;
    color: #3072F3;
    font-size: 0.6rem;
    float: right;
}

.header .pic:first-child {
    float: left;
}

.header .pic:first-child * {
    font-size: 1rem;
    vertical-align: middle;
}

.header .pic > img {
    display: inline-block;
    width: 1.7rem;
    height: 0.78rem;
}

.contentBox {
    width: 10rem;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
}

.contentBox .contentTitle {
    width: 9.2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.48rem;
}

.contentBox .contentForm {
    width: 9.2rem;
}

.contentForm > input {
    display: inline-block;
    width: 9.2rem;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.4rem;
    box-sizing: border-box;
    padding: 0 0.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 0.2rem;
}

.contentForm > button, .contentForm > a {
    display: block;
    margin: 0.1rem auto 0 auto;
    width: 9rem;
    height: 1.32rem;
    line-height: 1.32rem;
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #3072f6;
    text-decoration: none;
    border-radius: 0.04rem;
}

.contentForm > .smallTitle {
    width: 9.2rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    text-align: center;
}

.areaModalBox {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 8.1rem;
    width: 9.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
}

.areaModalBox > .areaModalBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: coral;
}

.areaModalBox > .areaModalTitle {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 7.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.areaModalBox > .areaModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.areaModalBox > .areaModalContent {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.areaModalContent::-webkit-scrollbar {
    display: none;
}

.areaModalContent > * {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    border-bottom: 1px solid silver;
}

.areaModalContent > *:first-child {
    border-top: 1px solid silver;
}

.areaModalContent > .selected {
    border-bottom: 1px solid #3072f6;
}

.wallModalBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 10rem;
    display: none;
}

.wallModalBox > .wallModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.wallModalBox .pagination {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.52rem;
    text-indent: 0.18rem;
    color: coral;
}

.wallModalBox > .wallModalContent {
    width: 10rem;
    height: 100%;
    display: table;
}

.wallModalContent > span {
    display: table-cell;
    vertical-align: middle;
}

.wallModalContent .swiper-container {
    width: 10rem;
    overflow: visible;
}

.wallModalContent .swiper-wrapper {
    display: table;
    width: 10rem;
}

.swiper-wrapper > span {
    display: table-cell;
    vertical-align: middle;
}

.swiper-wrapper > span > img {
    width: 10rem;
    max-height: 14rem;
}

.selectModalBox {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 8.1rem;
    width: 9.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
}

.selectModalBox > .selectModalTitle {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 7.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.selectModalBox > .selectModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.selectModalBox > .selectModalContent {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.selectModalContent::-webkit-scrollbar {
    display: none;
}

.selectModalContent > * {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    border-bottom: 1px solid silver;
}

.selectModalContent > *:first-child {
    border-top: 1px solid silver;
}

.selectModalContent > .selected {
    border-bottom: 1px solid #3072f6;
}

.introModalBox {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 8.1rem;
    width: 9.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
}

.introModalBox > .introModalTitle {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 7.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.introModalBox > .introModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.introModalBox > .introModalContent {
    box-sizing: border-box;
    border: 1px solid silver;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: 0.4rem;
    line-height: 0.72rem;
    text-indent: 0.8rem;
}

.introModalContent::-webkit-scrollbar {
    display: none;
}

.uploadImgModalBox {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 8.1rem;
    width: 9.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
}

.uploadImgModalBox > .uploadImgModalTitle {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 7.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.uploadImgModalBox > .uploadImgModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.uploadImgModalBox > .uploadImgModalContent {
    display: block;
    width: 7.2rem;
    height: 100%;
    overflow-y: scroll;
}

.uploadImgModalContent::-webkit-scrollbar {
    display: none;
}

.uploadImgModalContent > img {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
}

.uploadImgModalContent > .uploadImgModalAdd {
    box-sizing: border-box;
    border: 1px dashed silver;
}

.uploadImgModalContent > img:nth-child(3n) {
    margin-right: 0;
}

.uploadImgModalLookBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 10rem;
    display: none;
}

.uploadImgModalLookBox > .uploadImgModalLookClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.uploadImgModalLookBox > .uploadImgModalLookContent {
    width: 10rem;
    height: 100%;
    display: table;
}

.uploadImgModalLookContent > span {
    display: table-cell;
    vertical-align: middle;
}

.uploadImgModalLookContent > span > img {
    width: 100%;
    max-height: 100%;
}

.uploadImgModalLookSureBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    box-sizing: border-box;
    height: 100%;
    width: 10rem;
    display: none;
}

.uploadImgModalLookSureBox > div {
    width: 10rem;
    height: 100%;
    display: table;
}

.uploadImgModalLookSureBox > div > span {
    display: table-cell;
    vertical-align: middle;
}

.uploadImgModalLookSureBox .uploadImgModalLookSureContent {
    box-sizing: border-box;
    padding: 0.6rem;
    margin: 0 auto;
    width: 7.2rem;
    height: 6rem;
    background: white;
    border-radius: 0.1rem;
}

.uploadImgModalLookSureBox .uploadImgModalLookSureTitle {
    width: 100%;
    height: 2.8rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
}

.uploadImgModalLookSureBox .uploadImgModalLookSureBtn {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.4rem;
    text-align: center;
}

.uploadImgModalLookSureBox .uploadImgModalLookSureBtn > button {
    width: 2rem;
    height: 1rem;
    border: none;
    border-radius: 0.1rem;
    color: ghostwhite;
    background: #3072f6;
}

.uploadImgModalLookSureBox .uploadImgModalLookSureBtn > .uploadImgModalLookSureDel {
    background: coral;
}

.intentModalBox {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 8.1rem;
    width: 9.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
    text-align: center;
}

.intentModalBox > .intentModalTitle {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 7.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.intentModalBox > .intentModalClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.64rem;
    color: coral;
}

.intentModalBox > .intentModalOk {
    width: 3rem;
    height: 1.2rem;
    font-size: 0.4rem;
    line-height: 1.2rem;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
    border: none;
    background: #3072f6;
    color: #f0f4f7;
}

.intentModalBox > .intentModalContent {
    box-sizing: border-box;
    border: 1px solid silver;
    display: block;
    height: calc(100% - 1.2rem);
    height: -moz-calc(100% - 1.2rem);
    height: -webkit-calc(100% - 1.2rem);
    width: 100%;
    overflow-y: scroll;
    font-size: 0.4rem;
    line-height: 0.72rem;
    text-indent: 0.8rem;
}

.intentModalContent::-webkit-scrollbar {
    display: none;
}




