.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.5rem;
    padding: 0 0.32rem;
    border-bottom: 0.01rem solid #E4E6F0;
    background-color: #fff;
    box-sizing: border-box;
}

.header .pic {
    height: 1.5rem;
    line-height: 1.5rem;
    color: #3072F3;
    font-size: 0.6rem;
    float: right;
}

.header .pic:first-child {
    float: left;
}

.header .pic:first-child * {
    font-size: 1rem;
    vertical-align: middle;
}

.header .pic > img {
    display: inline-block;
    width: 1.7rem;
    height: 0.78rem;
}

.contentBox {
    margin-top: 1.5rem;
    width: 10rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
}

.contentBox > .contentTitle {
    width: 9.2rem;
    height: 1.32rem;
    line-height: 1.32rem;
    font-size: 0.48rem;
}

.contentBox > .contentTitle > p {
    float: right;
    color: #3072F6
}

.contentBox > .contentTitle > span {
    color: #E4393C;
}

.contentBox > .contentForm {
    width: 9.2rem;
}

.contentForm > input {
    display: inline-block;
    width: 9.2rem;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.4rem;
    box-sizing: border-box;
    padding: 0 0.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 0.2rem;
}

.contentForm > button, .contentForm > a {
    display: block;
    margin: 0.1rem auto 0.2rem auto;
    width: 9rem;
    height: 1.32rem;
    line-height: 1.32rem;
    font-size: 0.4rem;
    color: #FFFFFF;
    text-align: center;
    border: none;
    background-color: #3072f6;
    text-decoration: none;
    border-radius: 0.04rem;
}

.contentForm > .smallTitle {
    width: 9.2rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    text-align: center;
}

.contentBox > .contentList {
    width: 9.2rem;
}

.contentBox > .contentList > .one {
    height: 2.8rem;
    width: 9.2rem;
    background: #F8F8F9;
    padding: 0.2rem;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
}

.one > .oneImg {
    float: left;
    width: 3.6rem;
    height: 2.4rem;
}

.one > .oneImg > img {
    max-width: 3.6rem;
    height: 2.4rem;
    display: block;
    margin: 0 auto;
}

.one > .oneInfo {
    float: right;
    width: 5rem;
    height: 2.4rem;
}

.one > .oneInfo > .title {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one > .oneInfo > .info {
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one > .oneInfo > .price {
    height: 0.7rem;
    line-height: 0.7rem;
    color: #fa5741;
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one > .oneInfo > .four {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one > .oneInfo > .five {
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one > .oneInfo span {
    color: #fa5741;
}

.foot {
    width: 10rem;
    height: 1.6rem;
    display: table;
    background: #2f3130;
}

.foot > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.24rem;
    color: #FFFFFF;
}