.banner {
    position: relative;
    margin-top: 1.5rem;
    width: 10rem;
    height: 5.6rem;
}

.banner img {
    display: block;
    width: 10rem;
    height: 5.6rem;
}

.swiper-pagination-switch {
    width: 0.3rem !important;
    height: 0.3rem !important;
}

.info {
    width: 10rem;
    padding: 0.4rem;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #e4e6f0
}

.info > .title {
    color: #101D37;
    width: 9.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.46rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info > .priceTitle {
    width: 9.2rem;
    height: 1.4rem;
    margin-bottom: 0.2rem;
}

.info > .priceTitle > div {
    float: left;
    width: 3.0666666rem;
    height: 1.4rem;
    border-right: 1px solid #e4e6f0;
    display: table;
    box-sizing: border-box;
    color: #9399a5;
}

.info > .priceTitle > div:last-child {
    border-right: 0;
}

.info > .priceTitle > div > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.3rem;
}

.info > .priceTitle > div > span > p {
    margin-bottom: 0.1rem;
    color: #fa5741;
    font-size: 0.36rem;
}

.info > .skill {
    margin: 0 auto;
    width: 8.6rem;
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 0.26rem;
    text-align: center;
    color: #f0f4f7;
    background: url("../img/blue.png") silver repeat-y;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
}

.info > .heart {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    display: table;
}

.info > .heart > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.44rem;
    color: #101D37;
}

#map {
    width: 10rem;
    height: 5rem;
}

.detail {
    width: 10rem;
    padding: 0.4rem;
    box-sizing: border-box;
}

.detail > span {
    display: block;
    width: 9.2rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.4rem;
}

.detail > .box {
    width: 9.2rem;
}

.detail > .intro {
    width: 9.2rem;
    font-size: 0.28rem;
    text-indent: 0.56rem;
    line-height: 0.6rem;
}

.detail > .images {
    width: 9.2rem;
    margin-bottom: 0.2rem;
}

.detail > .images:last-child {
    margin-bottom: 0;
}

.detail > .box > .ratio {
    width: 9.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
}

.detail > .box > .ratio > span {
    display: block;
    float: left;
    width: 1.78rem;
}

.detail > .box > .ratio > .bar {
    float: right;
    width: 7.42rem;
    text-align: center;
    color: #f0f4f7;
    background: url("../img/blue.png") silver repeat-y;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
}

.moreData {
    display: none;
}

.detail > .one {
    width: 9.2rem;
    height: 2.8rem;
    border-bottom: 1px solid #e4e6f0;
    padding: 0.2rem 0;
    box-sizing: border-box;
}

.detail > .one:last-child {
    border: 0;
}

.detail > .one > img {
    float: left;
    width: 3.2rem;
    height: 2.4rem;
}

.detail > .one > .oneInfo {
    float: right;
    width: 5.2rem;
    height: 2.4rem;
}

.detail > .one > .oneInfo > .title {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail > .one > .oneInfo > .con {
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
}

.detail > .one > .oneInfo > .price {
    height: 0.7rem;
    line-height: 0.7rem;
    color: #fa5741;
    font-size: 0.4rem;
}

.help {
    width: 10rem;
    height: 3.2rem;
    border-top: 1px solid #e4e6f0;
    display: table;
}

.help > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font: 0.46rem/1rem '宋体';
    color: #101d37;
}

.help > span > .jump {
    font: 0.32rem/0.8rem '宋体';
    color: #101d37;
    margin: 0 auto;
    width: 2.6rem;
    height: 0.8rem;
    border-radius: 2.8rem;
    border: 1px solid #9399a5;
}

.broker {
    position: fixed;
    background: white;
    bottom: 0;
    left: 0;
    width: 10rem;
    height: 2rem;
    border-top: 0.01rem solid #E4E6F0;
}

.broker span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.broker > .head {
    float: left;
    width: 4rem;
    height: 2rem;
    display: table;
    font-size: 0.3rem;
}

.broker > .head img {
    width: 1rem;
    height: 1rem;
}

.broker > .btns {
    float: right;
    width: 6rem;
    height: 2rem;
    display: table;
}

.broker > .btns .btn {
    width: 2.4rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.1rem;
    background: #3bc48b;
    font-size: 0.36rem;
    color: white;
    display: inline-block;
}

.more {
    width: 9.2rem;
    height: 1rem;
    line-height: 1rem;
    color: #3072F7;
    background: rgba(48, 114, 246, .05);
    border-radius: 0.06rem;
    margin: 0 auto 0.4rem auto;
    text-align: center;
    font-size: 0.38rem;
}

.intentModal {
    position: fixed;
    bottom: -0.1rem;
    left: 0.4rem;
    z-index: 999;
    background: white;
    height: 4.7rem;
    width: 9.2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid silver;
    border-bottom: none;
    display: none;
    text-align: center;
}

.intentModal .intentModalTitle {
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: 0.52rem;
    width: 100%;
}

.intentModal input {
    height: 0.86rem;
    line-height: 0.86rem;
    width: 6rem;
    font-size: 0.36rem;
    border: 1px solid silver;
    padding: 0 0.2rem;
    text-align: center;
}

.intentModal .intentModalBtns {
    margin-top: 0.4rem;
    width: 100%;
    height: 0.8rem;
}

.intentModal .intentModalBtns > button {
    height: 0.8rem;
    width: 2rem;
    line-height: 0.8rem;
    font-size: 0.36rem;
    border: 0;
    border-radius: 0.06rem;
    color: #f0f4f7;
    background: #3072F7;
}

.intentModal .intentModalBtns > .intentModalClose {
    background: coral
}




