*{
	padding: 0;
	margin: 0;
}
/*banner*/
.banner{
	width: 100%;
	height: 48rem;
	position: relative;
}
.banner img{
	display: block;
	width: 100%;
	height: 48rem;
}

/*title*/
.detTitle{
	width: 100%;
    background: #fff;
}
.detCont{
	height: 18rem;
	margin: 0 auto;
	width: 90%;
	padding: 3rem;
}
.detTitle .tit{
	width:86%;
	height: 10rem;
	color: #101D37;
	font: bold 3.5rem/4.8rem "宋体";
	overflow: hidden;
	float: left;
}
.detTitle .follow{
	width: 14%;
	height: 10rem;
	text-align: center;
	float: right;
}
.follow a{
	color: #222;
}
.follow .heart{
	font: 3.5rem/2rem "宋体";
}

.follow .txt{
	font: 2.5rem/3rem "宋体";
}

/*场地价格信息*/
.priceData{
	width: 100%;
	height: 8rem;
	float: left;
}
.similar_data {
	width: 32.9%;
	float: left;
}
.priceTxt{
	width: 32.9%;
	float: left;
	text-align: center;
	border-left: solid 0.15rem #e4e6f0;
}
.similar_data .price,.priceTxt .price{
	height: 6rem;
	text-align: center;
	color: #fa5741;
	font:bold 2.5rem/3rem '宋体';
}
.similar_data .gray,.priceTxt .gray{
	height: 2rem;
	text-align: center;
	color: #9399a5;
	font: 2rem/2rem '宋体';
}
.priceTxt .rigth10{
	padding-right: 10rem;
}
.priceTxt .rigth5{
	padding-right: 5rem;
}

/*详情*/
.agent{
	width: 100%;
    background: #fff;
}
.agentCont{
	margin: 0 auto;
	width: 90%;
	padding: 3rem;
}
.agentImg{
	width: 100%;
	height: 40rem;
	padding: 2rem;
	box-sizing: border-box;
}
.more{
	display: none;
}
.one{
	margin-bottom:3rem;
}
/*更多场地信息*/
.viewMore {
    height: 8rem;
    text-align: center;
    font: 3rem/8rem '宋体';
    border-radius: 1rem;
    background: rgba(48,114,246,.05);
	color: #3072F7;
}

/*map*/
.map{
	width: 100%;
	height: 36rem;
	background: #ccc;
}

/*场地介绍开始*/
.venues{
	width: 100%;
	background: #fff;
	border-bottom: 0.1rem solid #e4e6f0;
}
.venuesCont{
	width: 90%;
	margin: 0 auto;
	padding: 3rem;
}
.venTit{
	height: 7rem;
	font: 3rem/7rem '宋体';
}
.content{
	text-indent: 5rem;
	height: 24rem;
	color: #101d37;
	font: 2.5rem/3.5rem '宋体';
}

/*猜你喜欢开始*/
.guesUlike{
	width: 100%;
	height: 100%;
	background: #fff;
}
.mod_cont{
	width: 90%;
	margin: 0 auto;
	padding:3rem;
}
.guseTit{
	height: 8rem;
	font:600 3rem/8rem '宋体';
}
.recont{
	width: 100%;
	height: 16rem;
	padding: 2rem 0;
	border-bottom: .1rem solid #e4e6f0;
}
.recimg{
	width: 20.75rem;
	height: 15.375rem;
	float: left;
}
.recimg img{
	width: 20.75rem;
	height: 15.375rem;
}
.redadat{
	width: 56%;
	height: 16rem;
	float: right;
}
.redadat .tit{
    margin-bottom: 1rem;
    line-height: 1.2em;
    overflow: hidden;
    font-size: 2.7rem;
    color: #101d37;
}
.redadat .tit_txt{
    margin-bottom: 1rem;
    font-size: 2.1rem;
    font-family: "微软雅黑";
    color: #101d37;
}
.redadat .price{
	font-size: 3rem;
	color: #fa5741;
	font-weight: 600;
}
.none_border{
	border: none;
}

/*helpSell*/
.helpSell{
	width: 100%;
	height: 28rem;
	border-top: 0.1rem solid #e4e6f0;
}
.helpCont{
	text-align: center;
}
.helpCont h2{
	color: #101d37;
	font: 3.5rem/4rem '宋体';
	margin-top: 4rem;
}
.helpCont .help{
	color: #9399a5;
	text-align: center;
	font: 2.3rem/4rem '宋体';
}
.helpBtn{
	margin: auto;
	width: 36%;
	height: 7rem;
	font: 2.65rem/7rem '宋体';
	border-radius: 4rem;
	border: solid 0.1rem #9399a5;
	margin-top: 2.5rem;
}
.helpBtn a{
	color: #101d37;
}
.flexbox{
	height: 4rem;
	color: #9399a5;
	margin: 8rem  3rem 0 3rem;
	font: 2.3rem/4rem '宋体';
}
.flexbox p{
	float: left;
}
.flexbox a{
	display: block;
    color: #3072f6;
	float: right;
}
.hintStyle {
    padding: 3rem;
    color: #CDCFD0;
    letter-spacing: -.55px;
	font: 2rem/2.7rem '宋体';
}
/**
底部按钮
 */
.nullBox{
	width: 100%;
	height: 16rem;
}
.broker{
	position: fixed;
	bottom: 0;
	z-index: 99;
	width: 100%;
	height: 16rem;
	background: white;
	padding: 2rem 3rem;
	box-sizing: border-box;
	box-shadow: 0 -0.0625rem 0.125rem rgba(0,0,0,.1);
}
.broker .agent{
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	display: table;
}
.broker .agent img{
	width: 7rem;
	height: 7rem;
}
.broker .agent>span{
	font-size: 2.2rem;
	display: table-cell;
	vertical-align:middle;
}
.broker .buttons{
	float: right;
	width: 66%;
	height: 100%;
	display: table;
	text-align: center;
}
.broker .buttons span{
	display: table-cell;
	vertical-align:middle;
}
.broker span>button,.broker span>a{
	height: 8rem;
	display: inline-block;
	width: 40%;
	text-align: center;
	font: 3rem/8rem '宋体';
	border-radius: 1rem;
	border: 0;
	background: #3072F6;
	color: white;
}
/**
意向弹窗
 */
.intent{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top:0;
	background: rgba(0,0,0,0.5);
}
.intent>div{
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}
.intent>div>span{
	display: table-cell;
	vertical-align:middle;
}
.intent>div>span>.intentInfo{
	display: inline-block;
	width: 70%;
	height: 30rem;
	border-radius: 1rem;
	background: white;
	box-sizing: border-box;
	padding: 3rem;
	position: relative;
}

.intentInfo .close{
	position: absolute;
	width: 5rem;
	height: 6rem;
	right: 1.5rem;
	top: 1.5rem;
	line-height: 5rem;
	font-size: 3.4rem;
	text-align: center;
	z-index: 101;
}

.intentInfo .intentTitle{
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	font-size: 5rem;
	text-align: center;
}

.intentInfo .intentMoney{
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline: 0;
	padding:0 0.6rem;
	border-radius: 1rem;
	border: 1px solid #333333;
	display: block;
	width: 60%;
	height: 6.4rem;
	line-height: 6.4rem;
	font-size: 3.2rem;
	margin: 2rem auto;
}

.intentInfo .intentButton{
	display: block;
	margin: 0 auto;
	width: 60%;
	height: 6.4rem;
	font-size: 3.2rem;
	background: #3072F6;
	border: none;
	color: white;
	border-radius: 0.8rem;
}
/**
进度条
 */
.skill {
	width: 90%;
	margin: 1rem auto;
	height: 4rem;
	background: silver;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	border-radius: 0.4rem;
	overflow: hidden;
}

.skill .bar {
	float: left;
	height: 4rem;
	line-height: 4rem;
	font-size: 2.4rem;
	text-align: center;
	color: #f0f4f7;
	background: #3072f6;
	-webkit-border-radius:0.4rem;
	-moz-border-radius:0.4rem;
	border-radius:0.4rem;
}
