*{
	padding: 0;
	margin: 0;
}

/*footer*/
.footer{
	width: 100%;
	height: 5rem;
	padding: 3rem 0;
	background-color: #2f3130;
}
.footer_cont{
	font-size: 2rem;
	color: #fff;
	line-height: 2.6rem;
	text-align: center;
}