*{
	padding: 0;
	margin: 0;
}
/*main*/
.main{
	width: 100%;
}
.mainList{
	padding: 2rem;
}
.mainTit{
	width: 100%;
	height: 6rem;
	font: bold 2.5rem/6rem "微软雅黑";
}
.mainTit span{
    color: #E4393C;
    margin: 0 0.5rem;
}
.listCont{
	height: 22rem;
	padding: 1rem;
    background-color: #F8F8F9;
    position: relative;
	border-bottom: solid 0.1rem #D2D7E1;
	margin-bottom: 1rem;
}
.listCont a{
	color: #333;
}
.listCont img{
	display: block;
	width: 32%;
	height: 22rem;
	float: left;
}
.information{
	width: 64%;
	float: left;
	margin-left: 2rem;
	font: 2.35rem/3.5rem "宋体";
}
.information p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 3.76rem;
}
.information span{
	width: 30%;
	margin-right: 2rem;
}
.small{
	margin-left: 0.2rem;
	font-size: 1.7rem;
}
.cancel{
	display: block;
	width: 14%;
	height: 4rem;
	color: #fff !important;
	text-align: center;
	font: 2.2rem/4rem "宋体";
	position: absolute;
	right: 1.5rem;
	bottom: 2rem;
	background-color: #3072F6;
}