body {
    background: #EFEFEF !important;
}

.my_orders {
    width: 9.5rem;
    padding: 0.25rem;
    font-size: 0.45rem;
    font-family: "微软雅黑";
    background: #fff;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}

/*标签*/
.label_one, .label_two, .label_three {
    width: 4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    font-size: 0.4rem;
    text-align: center;
    font-family: "微软雅黑 Light";
    background: #00A8EC;
    position: absolute;
    top: 0.2rem;
    right: -1.4rem;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.label_two {
    background: #FF4C38;
}

.label_three {
    background: limegreen;
}

.my_orders ul > li {
    height: 1rem;
    color: #3C3C3C;
    line-height: 1rem;
}

.my_orders ul > li > span {
    float: left;
    margin-right: 0.25rem;
}

.my_orders ul > li > p {
    float: left;
    width: 6rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my_orders .goto1, .my_orders .goto2, .my_orders .goto3 {
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    background: #FF4C38;
    float: right;
    border-radius: 0.2rem;
}

.my_orders .goto1 {
    background: #00A8EC;
}

.my_orders .goto3 {
    background: limegreen;
}

.no_order {
    width: 10rem;
    height: 100%;
    position: fixed;
    display: table;
}

.no_order > .main {
    width: 3rem;
    height: 3rem;
    background: #EFEFEF;
    text-align: center;
    font: 0.5rem/1.5rem "微软雅黑 Light";
    display: table-cell;
    vertical-align: middle;
}

.no_order > .main > p {
    font-size: 1.5rem;
    color: #00A8EC;
}