*{
	padding: 0;
	margin: 0;
}
body{
    background-color: #F8F8F9;
}

/*页头开始*/
.header{
	width: 100%;
	height: 55px;
    line-height: 55px;
    background: #3072f6;
    text-align: center;
    font: 16px/50px "微软雅黑";
}
.nav img{
	width: 110px;
	height: 50px;
	float: left;
}
.nva_list li{
	color: #FFF;
	width: 120px;
	float: left;
}
.esc{
	width: 100px;
	color: #fff;
	float: right;
}
.esc a{
	color: #fff;
}
/*页头结束*/

/*content*/
.user_cont{
	width: 1000px;
	margin: auto;
    font-size: 14px;
	padding: 30px 0 0 0;
}
.user_contLt{
	width: 150px;
	height: 268px;
}
.user_contRt{
	width: 825px;
}
.user_contLt,.user_contRt{
	background-color: #fff;
	border: 1px solid #e6e5e5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.user_contLt img{
	width: 80px;
	height: 80px;
	margin: 35px 35px 0 35px;
}
.welcome{
	text-align: center;
    padding: 15px 0;
}
.user_contLt li a{
	width: 152px;
    color: #555;
    text-align: center;
    font: 14px/40px "微软雅黑";
    display: inline-block;
}
.user_contLt ul .actives a{
	color: #fff;
    background-color: #3072f6;
}
/*盒子里面的内容*/
.inner_Cont{
	width: 755px;
	font-size: 22px;
    padding: 35px 35px;
    font-size: 14px;
}

.userTit{
	font-size: 22px;
    font-weight: bold;
}
.userTit span{
	color: #E4393C;
    margin: 0 10px;
}
.tab{
    height: 38px;
    line-height: 38px;
    margin: 20px 0 0 0;
    background-color: #F8F8F9;
    border-bottom: 1px solid #e6e6e6;
}
.tab li{
	width: 100px;
	height: 39px;
    color: #888;
	text-align: center;
	cursor: pointer;
	float: left;
}
.tab .active{
	color: #101d37;
	background-color: #e6e5e5;
}
.inner_Cont .tab_cont{
	width: 755px;
    height: 270px;
    margin: 20px 0 0 0;
    background-color: #F8F8F9;
}
.change_pwd {
    width: 350px;
    margin: 60px auto;

}
.change_pwd li {
    padding-top: 15px;
}
.change_pwd li span {
    width: 95px;
    display: inline-block;
    font-size: 14px;
}

.change_pwd li input {
    width: 237px;
    height: 38px;
    border: 1px solid #c8c8c8;
    padding: 0 5px;
}
.change_pwd li button{
    text-decoration: none;
    width: 251px;
    background-color: #3072f6;
    cursor: pointer;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    float: right;
    line-height: 40px;
    border: none;
}

/*.lj-btn {
    width: 240px;
    height: 40px;
    padding: 0 5px;
    background-color: #3072f6;
    cursor: pointer;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    }*/

/*content end*/